:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-bcgrnd-color: #ffffff;
  --font-heading-color: #212121;
  --font-paragraph-color: #757575;
  --main-and-footer-bcgrnd-color: #2f303a;
  --font—btn-accent-color: #2196f3;
  --btn-click-on-color: #188ce8;
  --btn-portfolio-color: #f5f4fa;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: var(--main-bcgrnd-color);
}
/* BODY */
body {
  font-family: var(--main-font);
  background-color: var(--main-bcgrnd-color);
  color: var(--font-heading-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}
/* HEADER */
.menu-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--font-heading-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--font—btn-accent-color);
}
/* font-family: 'Raleway', sans-serif; */
.mail-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--font-paragraph-color);
}
.mail-link:hover,
.mail-link:focus {
  color: var(--font—btn-accent-color);
}
.studio,
.portfolio {
  color: var(--font—btn-accent-color);
}
.tel-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--font-paragraph-color);
}
.tel-link:hover,
.tel-link:focus {
  color: var(--font—btn-accent-color);
}
.logo-header {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  color: var(--font-heading-color);
}

/* MAIN CONTENT */
/* SECTION ONE - HERO */
.hero-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-bcgrnd-color);
  background-color: var(--main-and-footer-bcgrnd-color);
}
/* MODAL BUTTON */
.modal-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  /* identical to box height, or 187% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-bcgrnd-color);
  background: var(--font—btn-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.modal-btn:hover,
.modal-btn:focus {
  background: var(--btn-click-on-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* PORTFOLIO BUTTON */
.btn-list-item-prtf {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  /* identical to box height, or 162% */
  text-align: center;
  color: var(--font-heading-color);
  background: var(--btn-portfolio-color);
  border-radius: 4px;
}
.btn-list-item-prtf:hover,
.btn-list-item-prtf:focus {
  color: var(--main-bcgrnd-color);
  background: var(--font—btn-accent-color);
  /* shadow-middle */
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/* END PORTFOLIO BUTTON */
/* END SECTION ONE - HERO */

/* SECTION TWO - OUR WORK */
.our-work-list-item-h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--font-heading-color);
}
.our-work-list-item-p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.714;
  /* or 171% */
  color: var(--font-paragraph-color);
}
/* OUR WORK IMAGES */
.our-work-team-h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  color: var(--font-heading-color);
}
/* END OUR WORK IMAGES */
/* END SECTION TWO - OUR WORK */

/* SECTION TWO - IMAGES GALLERY */
.img-gallery-item-h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: var(--font-heading-color);
}
.img-gallery-item-p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  /* identical to box height, or 187% */
  color: var(--font-paragraph-color);
}
/* END SECTION TWO - IMAGES GALLERY */

/* SECTION THREE - TEAM */
.team-list-item-h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  /* identical to box height */
  text-align: center;
  color: var(--font-heading-color);
}
.team-list-item-p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height */
  text-align: center;
  color: var(--font-paragraph-color);
}
/* END SECTION THREE - TEAM */

/* FOOTER */
.footer {
  background-color: var(--main-and-footer-bcgrnd-color);
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  color: var(--main-bcgrnd-color);
}
.logo-word {
  color: var(--font—btn-accent-color);
}
.address {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}
